EJBTestModule_1/SimpleData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://EJBTestModule">
	<xsd:complexType name="SimpleData">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="value" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="price" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>