ModuleLibrary/CalculateInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CalculateInterface" targetNamespace="http://FirstModule/CalculateInterface" xmlns:tns="http://FirstModule/CalculateInterface" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://FirstModule/CalculateInterface">
      <xsd:element name="mult">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value1" nillable="true" type="xsd:int"/>
            <xsd:element name="value2" nillable="true" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="multRequestMsg">
    <wsdl:part element="tns:mult" name="multParameters"/>
  </wsdl:message>
    <wsdl:message name="multResponseMsg">
    <wsdl:part element="tns:multResponse" name="multResult"/>
  </wsdl:message>
    <wsdl:portType name="CalculateInterface">
    <wsdl:operation name="mult">
      <wsdl:input message="tns:multRequestMsg" name="multRequest"/>
      <wsdl:output message="tns:multResponseMsg" name="multResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>